.overview{
  display: flex;
  width: 100vw;
  //max-width: 1200px;
  // margin are useless here  
  //margin-right: auto;
  //margin-left: auto;
  padding-top: 6rem;
  flex-direction: column;
  justify-content: space-around;
  -webkit-box-align: start;
  align-items: flex-start;
  text-decoration: none;

  .container-port{
    padding: 3rem 2rem 2rem 2rem;

    .description{
      padding-top: 3rem;
      padding-left: 4rem;
      padding-bottom: 4rem;

      .heading{
        @include header-font;
        color: #0153ec;
      }

      .desc{
        color: #afaeae;
        //font-family: 'Roboto';
        font-size: 1.2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        line-height: 32px;
        font-weight: 400;
        font-family: 'Numans',emoji;
      }
      
      #buttons-group{
        width: 100vmin;
        display: flex;

        #btn-get-in-touch{
          //float: left;
          padding-left: 10px;
          padding-right: 10px;
        }

        /*#btn-resume{
          //float: right;
        }*/
      }
      
      .true-button{
        background-color: #ec9a01;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        font-size: 21px;
        font-family: 'Numans',emoji;
        box-shadow: none;
      }
    }

    .foto{
      margin: 0 auto;
      display: block;
      height: 55vmin;
    }

    #col-logo{
      padding-left: 0px;

      #logo-containers{
        padding-left: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 50vw;
        
        /*.logo{
          width: 30%;
        }

        #teoresi{
          .logo{
            fill: #0071a5;
          }
        }*/
      }
      img{
        width: 64px;
      }
    }
    
  }
}

@media screen and (min-width: 1920px){
  .overview .container-port {
    .row{
      margin-top: 7rem;
    }
    .description {
      .heading{
        font-size: 3.5rem;
      }
      .desc{
        font-size: 2.2rem;
        line-height: 64px;
      }
      #buttons-group {
        margin-top: 3rem;
        #btn-get-in-touch{
          padding-left: 10rem;
          padding-right: 10rem;
        }
      }
      .true-button{
        font-size: 35px;
        width: max-content;
      }
    }
    .foto{
      height: 65vmin;
    }
    #col-logo img{
      width: 104px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1099px){
  .overview .container-port {
    .description {
      .heading{
        font-size: 3rem;
      }
      #buttons-group #btn-get-in-touch{
        padding-left: 0rem;
      }
    }
    .foto{
      height: 70vmin;
    }
  }
}

@media (max-width:991px){
  .overview .container-port {
    .description {
      .heading{
        font-size: 2.2rem;
      }
      #buttons-group #btn-get-in-touch{
        padding-left: 0rem;
      }
    }
    #col-logo{
      #logo-containers{
        max-width: 80vw;
      }
      img{
        width: 48px;
      }
    }
  }
}

@media (max-width:479px) {
  .overview .container-port{
    #presentation{
      flex-direction: column;
      .description{
        padding-left: 0rem;
        padding-right: 0rem;
        order: 2;
        .heading{
          font-size: 1.8rem;
        }
        .desc{
          text-align: justify;
        }

        #buttons-group{
          align-items: center;
          //width: 100vw;
          margin: auto;
          /*#btn-resume{
            margin-top: 2rem;
          }*/
        }
        .true-button{
          font-size: 20px;
        }
      }
    }
    #col-logo {
      padding: 0rem;
      #logo-containers{
        padding-left: 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100vw;
        margin: auto;
        .logo-dev{
          margin-right: 10px;
        }
      }
      img{
        width: 32px;
      }
    }
  }
}
    