@import "mixin.scss";
@import "navbar.scss";
@import "social.scss";
@import "overview.scss";

 #main-body {
  background-color: #00020f;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .reference{
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    a {
      color: #212534;
    }
  }
}

